html, body {
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box */
}

h1, h3, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

li {
  text-align: right;
}

p {
  color: #EAE509;
  font-size: 30px;
}

ul, ol {
  text-align: left;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 5rem;
  color: #eae509;
}

hr {
  border-color: #EAE509;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  height: 0;
  width: 100%;
}

h4 {
  font-family: "Montserrat";
  font-weight: 900;
  font-weight: normal;
  font-size: 2.5rem;
}

table {
  margin-top: 10%;
  font-size: 25px;
}

.adaos {
  text-align: left;
}

th {
  text-align: left;
}

.ml {
  font-size: 20px;
}

.pret {
  text-align: center;
}

.img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.test {
  position: relative;
}

.img-s {
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute;
  z-index: 1;
  top: 0;
  left: 0; */
}

.img-s1 {
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute;
  z-index: 1;
  top: 0;
  left: 0; */
}

.pret {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 80px;
}

.pret-c {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 25%;
}

.pret-cofe {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 33%;
}

.pret-cofe2 {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  right: 13%;
  bottom: 35%;
}

.pret-cold {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  left: 10%;
  bottom: 20%;
}

.align {
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.denumire {
  position: relative;
  bottom: 25px;
}

.denumire-crepe {
  position: relative;
  bottom: 5%;
}

.premium {
  height: 600px;
  margin: 10% 0;
}

.container-fluid {
  /* padding: 3%; */
  margin: auto;
  text-align: center;
}

.colored-section {
  background-color: #2e6e4c;
  color: #fff;
}

/********* Navbar *********/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  color: #eae509;
  font-weight: bold;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

.menu-row {
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.drinks {
  color: white;
  font-size: 20px;
}

/********** Footer **********/
#footer {
  margin-top: 7rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.links {
  font-size: 70px;
  margin: 15px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.copyright {
  font-size: 17px;
  color: white;
}

.mid {
  margin-left: auto;
  margin-right: auto;
}

a, a:hover, a:active, a:visited {
  color: white;
  text-decoration: none;
}

@media(max-width:1028px) {
  .nav-link {
    font-size: 2.2rem;
  }

  .navbar-brand {
    font-size: 5rem;
  }

  /* h2 {
    font-size: 4rem;
  } */
  table {
    font-size: 30px;
  }

  .img {
    height: 300px;
  }

  .drinks {
    font-size: 40px;
  }

  .navbar-toggler {
    padding: 2rem;
  }

  .copyright {
    font-size: 2rem;
  }

  .img-up {
    margin-top: 50px;
  }

  .p-table {
    font-size: 40px;
  }

  .b-p {
    margin-right: 15px;
  }
}
